* {
  margin: 0;
  padding: 0;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gifcard img {
  height: 180px;
  width: auto;
}

.nav {
  background-color: black;
  margin-bottom: 10px;
  display: flex;
}

.search {
  display: flex;
  margin: 5px auto;
  padding: 0.5em;
}
.search button {
  margin-left: 5px;
  padding: 0.3em;
}
